@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-3nosh');
	src:url('fonts/icomoon.eot?#iefix-3nosh') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-3nosh') format('truetype'),
		url('fonts/icomoon.woff?-3nosh') format('woff'),
		url('fonts/icomoon.svg?-3nosh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google-plus2:before {
	content: "\e600";
}
.icon-facebook3:before {
	content: "\e601";
}
.icon-instagram:before {
	content: "\e602";
}
.icon-twitter2:before {
	content: "\e603";
}
.icon-youtube3:before {
	content: "\e604";
}
